
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
}

.newnavbar{
  background-color: black; 
  height: 40px;
  width: 100vw;
  position: absolute;
}

.mainimg{
  height: 100px;
  width: 100vw;
  
}

.centerimg{
  height: 1000px;
  width: 100vw;
}

.menu{
  align-self: center;
  position: relative;
  left: 1050px;
  top: -150px;
  width: 550px;
}

.buttontext{
  font-size: medium;
  color: rgb(255, 255, 255);
}

.title{
  left: 90px;
  top: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: xx-large;
  font-weight: 800;
  position: relative;
}

.buttontext:hover{
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
}

.buttontext:hover{
  color: orangered;
}

.frontarea{
  height: 100vh;
  background-image: url(mainimg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  height: 110px;
  width: 90px;
  position: relative;
  top: 5px;
}

.centerarea{
  background-color: rgb(255, 255, 255);
  height: 600px;
  font-family: 'Kanit', sans-serif;
  margin-top: 55px;
  font-family: 'Martian Mono', monospace;
 
}

.titledesc{
  position: absolute;
  left: 92px;
  top: 90px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 600;
  width: 280px;
}

.collegetitle{
  position: absolute;
  right: 120px;
  top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-weight: 800;
}

.buttoncolor{
  font-weight: 600;
}

.meetingpic{
  height: 100px;
  width: 250px;
}

.logocontent{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 25px;
}

.desclogo{
  height: 480px;
  width: 400px;
  position: relative;
  left: 250px;
  top: 20px;
}

.maindesc{
  height: 200px;
  width: 580px;
  padding: 25px;
  top: 25px;
  position: relative;
  left: 210px;
}

.orangetext{
  color: orangered;
}

.lowerarea{
  height: 1700px;
  background-color: black;
}

.domaintitle{
  color: beige;
}

.textdomain{
  position: relative;
  top: 40px;
}

.domains{
  height: 1500px;
  width: 1100px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  left: 70px;
  top: 80px
}

.micimg{
  height: 300px;
  width: 300px;
  position: relative;
  top: 20px;
  align-self: center;

}

.oratorytext{
  position: relative;
  align-self: flex-start;
  left: 20px;
  top: 70px;
}

.oratorydesc{
  height: 175px;
  color: azure;
  position: relative;
  width: 450px;
  top: 150px;
  left: -220px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 25px;
}

.designimg{
  height: 300px;
  width: 340px;
  position: relative;
  top: 20px;
  left: 310px;
}

.designtext{
  position: relative;
  align-self: flex-start;
  left: 735px;
  top: 40px;
}

.designdesc{
  height: 175px;
  color: azure;
  position: relative;
  width: 450px;
  top: 120px;
  left:290px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 25px;
  text-align: right;
}

.writingimg{
  height: 300px;
  width: 320px;
  position: relative;
  top: 30px;
}

.writingtext{
  position: relative;
  align-self: flex-start;
  left: 25px;
  top: 40px;
}

.writingdesc{
  height: 175px;
  color: azure;
  position: relative;
  width: 450px;
  top: 120px;
  left: -190px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 25px;
}

.artimg{
  height: 300px;
  width: 320px;
  position: relative;
  top: 5px;
  left: 610px;
}

.artimg:hover{
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2);
  transform: scale(1.2); 
  transition-duration: 0.4s;
}

.writingimg:hover{
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2);
  transform: scale(1.2); 
  transition-duration: 0.4s;
}

.designimg:hover{
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2);
  transform: scale(1.2); 
  transition-duration: 0.4s;
}

.micimg:hover{
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2);
  transform: scale(1.2); 
  transition-duration: 0.4s;
}

.arttext{
  position: relative;
  align-self: flex-start;
  left: -40px;
  top: 390px;
}

.artdesc{
  height: 175px;
  color: azure;
  position: relative;
  width: 450px;
  top: 100px;
  left:580px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 25px;
  text-align: right;
}

.herofooter{
  height: 600px;
  background-color: azure;
  background-image: url('c:\Users\Arjun Jain\OneDrive\Desktop\HorizonWebsite\teampic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.firstherofooter{
  display: flex;
  flex-direction: column;
  height: 170px;
  position: relative;
  background-color: rgb(0, 0, 0);
}

.footerlogo{
  position: relative;
  left: 80px;
  top: 19px;
  width: 100px;
}

.logofootercontent{
  position: relative;
  left:80px;
  top: 20px;
  width: 300px;
}

.fblogo{
  position: relative;
  left: 133px;
  top: -25px;
}

.reachus{
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 400px;
  height: 200px;
  position: relative;
  left: 550px;
  top: -55px;
}

.emailfooter{
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  top: -13px;
  left: 80px;
  position: relative; 
}