
.container{
    width: 500px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: #150e3d;
}
h4{
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
textarea{
    width: 100%;
    padding: 10px;
}

#submit{
    border: name;
    background-color: orangered;
    color: white;
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;
}

#submit:hover{
    background-color: #333333;
}

